* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-container {
  width: 90%;
  height: 90%;
  margin: 15px auto;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 25px 3px rgba(248, 154, 222, 0.685);
}

h1 {
  color: rgb(248, 154, 221);
  text-align: center;
  text-decoration: underline;
}
/*------------------------------ BEGINNING OF NAV SECTION ------------------------------*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(248, 154, 221);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 1s linear;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #9e9189;
}

/*------------------------------ ENDING OF NAV SECTION ------------------------------*/

.about-start-button-div {
  width: 25%;
  margin: 10px auto;
}

.about-start-button {
  display: block;
  font-weight: bolder;
  width: 50%;
  background-color: rgb(127, 161, 224);
  color: rgb(248, 154, 221);
  padding: 10px;
  border-radius: 50%;
  border: none;
  margin: auto;
  box-shadow: 1px 1px 10px 3px rgb(248, 154, 221);
}
/*-----------------------------------------------------------------------------------*/
.about-footer-logo {
  color: white;
  text-align: center;
}
/* -----------------------------------------------------------------------------------*/
