* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-container {
  width: 90%;
  height: 90%;
  margin: 15px auto;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 25px 3px rgb(152, 152, 152);
}

h1 {
  color: rgb(152, 152, 152);
  text-align: center;
  text-decoration: underline;
}
/*------------------------------ BEGINNING OF NAV SECTION ------------------------------*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(7, 7, 7);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 1s linear;
}

li a:hover:not(.active) {
  background-color: #9e9189;
  color: white;
}

li a.active {
  color: white;
  background-color: #9e9189;
}

/*------------------------------ ENDING OF NAV SECTION ------------------------------*/

.contact-start-button-div {
  width: 25%;
  margin: 10px auto;
}

.contact-start-button {
  display: block;
  font-weight: bolder;
  width: 50%;
  background-color: rgb(127, 161, 224);
  color: #282727;
  padding: 10px;
  border-radius: 50%;
  border: none;
  margin: auto;
  box-shadow: 1px 1px 10px 3px #9e9189;
}
/*-----------------------------------------------------------------------------------*/
.contact-footer-logo {
  color: rgb(152, 152, 152);
  text-align: center;
}
/* -----------------------------------------------------------------------------------*/
