* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  height: 90%;
  margin: 15px auto;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 25px 3px rgba(255, 166, 0, 0.685);
}

h1 {
  color: rgba(255, 166, 0, 0.685);
  text-align: center;
  text-decoration: underline;
}

/*------------------------------ ENDING OF NAV SECTION ------------------------------*/

.start-button-div {
  width: 25%;
  margin: 10px auto;
}

.start-button {
  display: block;
  font-weight: bolder;
  width: 50%;
  background-color: rgba(255, 166, 0, 0.685);
  color: rgb(120, 42, 42);
  padding: 10px;
  border-radius: 50%;
  border: none;
  margin: auto;
  box-shadow: 1px 1px 10px 3px rgb(120, 42, 42);
}
/*-----------------------------------------------------------------------------------*/
.footer-logo {
  color: white;
  text-align: center;
}
/* -----------------------------------------------------------------------------------*/
